{% extends "base.html" %}
{% block title %}Catalog{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Categories</h1>
                {% for category in categories %}
                <a href="{{url_for('show_items_category', category_id=category.id)}}">
                    <p>{{category.name}}</p>
                </a>
                {% endfor %}
            </div>
            <div class="col-sm-8">
                <h1>Latest Items</h1>
                {% if logged_in %}
                <a href="{{url_for('add_item')}}">
                    <h3>Add Item</h3>
                </a>
                {% endif %}
                {% for item in items %}
                <a href="{{url_for('show_item', category_id=item.category_id, item_id=item.id)}}">
                    <p>{{item.name}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}